@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .external-link {
    @apply text-teal-700 underline underline-offset-2 [&>span]:m-auto [&>span]:inline-block;
  }

  .index-table {
    @apply rounded-b-md shadow-md;
  }

  .table-heading {
    @apply bg-lime rounded-t-md px-4 py-2 text-2xl font-semibold text-white;
  }

  .header {
    @apply cursor-pointer font-inter text-sm font-semibold capitalize text-stone-900/90 md:text-lg;
  }

  .row {
    @apply flex w-full flex-row items-center justify-between p-2 md:p-4;
  }
  .row > * {
    @apply inline-flex items-center justify-between gap-2 text-wrap px-4;
  }

  .hover-touchable {
    @apply transition-all duration-200;
    @apply hover:bg-lime/50 hover:my-2 hover:scale-[.97] hover:font-medium hover:text-stone-900/90 focus:scale-95;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  user-select: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
